<mat-toolbar color="primary">
  
  
    <span class="dream">Dream</span>
    <span><img class = "img-responsive" src=".././assets/catch.jpg"></span>
    <div class="spacer" >
      <a mat-button  routerLink = "home" >Home</a>
      <a mat-button routerLink = "about" >About Us</a>
      <a mat-button routerLink = "contact" >Contact Us</a>
      <a mat-button routerLink = "orderedlist" >List of Orders</a>
      <a mat-raised-button color = "accent" (click)="logout()" >logout</a>
    
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>